body {
    padding: 0;
    margin: 0;
}

.timeline-main {
    position: absolute;
    overflow: hidden;
    user-select: none;
}

.flow-span {
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
}

.flow-span:hover {
    border: 1px solid #888;
}

.tooltip {
    font-size: 60%;
    position: absolute;
    margin-left: -10px;
    margin-top: 5px;
    filter: drop-shadow(2px 4px 6px black);
}

.tooltip-content {
    padding: 10px;
    background: white;
    border-radius: 5px;
}

.tooltip::before {
    content: " ";
    position: absolute;
    top: -10px;
    left: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
