body {
    padding: 0;
    margin: 0;
}

.timeline-main {
    position: absolute;
    overflow: hidden;
    user-select: none;
}

.flow-span {
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
}

.flow-span:hover {
    border: 1px solid #888;
}


.tooltip-content {
    padding: 10px;
    background: white;
    border-radius: 5px;
}

.tooltip {
    font-size: 60%;
    position: absolute;
    margin-left: -10px;
    filter: drop-shadow(2px 4px 6px black);
}

.tooltip::before {
    content: " ";
    left: 5px;
    position: absolute;
    border-width: 5px;
    border-style: solid;
}

.tooltip.down {
    padding-top: 5px;
}
.tooltip.down::before {
    top: -5px;
    border-color: transparent transparent white transparent;
}

.tooltip.up {
    padding-bottom: 5px;
}
.tooltip.up::before {
    bottom: -5px;
    border-color: white transparent transparent  transparent;
}
